<p>
    @Html.ActionLink("Unresolved", "Unresolved")
</p>

<p>
    @Html.ActionLink("Resolved", "Resolved")
</p>

<p>
    @Html.ActionLink("Confirmed Devices", "ConfirmedDevices")
</p>

<p>
    @Html.ActionLink("Confirmed Devices In Store", "ConfirmedDevicesInStore")
</p>